@model IEnumerable<MyBlog.Models.User>

@{
    ViewData["Title"] = "Index";
}

h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Post</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>PostCount</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>PostCount</th>
                        <th>Control</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <th>@item.Id</th>
                            <th>@item.UserName</th>
                            <th>@item.Email</th>
                            <th>@item.PhoneNumber</th>
                            <th>0</th>
                            <th>
                                <div class="row d-flex justify-content-center">
                                    @if (@item.UserName != "admin")
                                    {
                                        <button class="btn btn-primary btn-sm">Lock</button>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Sửa</a>
                                        <a href="/admin/Users/delete/@item.Id" class="btn btn-danger btn-sm">Xóa</a>
                                    }


                                </div>
                            </th>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Admin/js/demo/datatables-demo.js"></script>
}

